configuration {
    modi: "window,drun,combi";
    combi-modi: "window,drun,run";
    show-icons: true;
    icon-theme: "papirus-Dark-nordic-folders";
  }
//@theme "/home/mauromotion/.config/rofi/nord-Mauro.rasi"
//@theme "/home/mauromotion/.config/rofi/gruvbox-Mauro.rasi"
@theme "/home/mauromotion/.config/rofi/config-Mauro.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
