[user]
	name = mauromotion
	email = hello@mauromotion.com
[init]
	defaultBranch = main
[core]
	editor = nvim

[core]
  pager = delta
	excludesfile = /home/mauromotion/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[color]
	ui = auto
